.NotFound {
    min-height: 100vh;
    display: grid;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr;
}

.NotFound > *:nth-child(1) {
    background-color: #5f0f40;
}
.NotFound > *:nth-child(2) {
    background-color: #9a031e;
}
.NotFound > *:nth-child(3) {
    background-color: #fb8b24;
}
.NotFound > *:nth-child(4) {
    background-color: #e36414;
}
.NotFound > *:nth-child(5) {
    background-color: #0f4c5c;
}

.NotFound > div {
    display: flex;
    justify-content: center;
    align-items: center;

    font-size: 1.8rem;
    color: var(--off-white);
}

.NotFound a {
    color: var(--off-white);
}
